In [40]:
import pandas as pd

# Read in dataset
df = pd.read_csv('dataset.csv')

# Task 1: Impute Missing Values
imputed_products_df = df 
imputed_products_df["Sales"] = imputed_products_df["Sales"].fillna(imputed_products_df["Sales"].mean())
imputed_products_df["Ratings"] = imputed_products_df["Ratings"].fillna(imputed_products_df["Ratings"].mean())
imputed_products_df["Product Category"] = imputed_products_df["Product Category"].fillna(imputed_products_df["Product Category"].value_counts().index[0])

# Task 2: Filter Products
electronics_products = imputed_products_df[imputed_products_df["Product Category"] == "Electronics"]

# Task 3: Advanced Filter
filtered_electronics = electronics_products[(electronics_products["Sales"] >= 500) & (electronics_products["Sales"] <= 1000)]

# Task 4: Find Top Seller
max = imputed_products_df["Sales"].max()
top_seller_id = imputed_products_df.loc[imputed_products_df["Sales"] == max, "Product ID"].values[0]

# Task 5: Sales Threshold
new = imputed_products_df
new["High Sales"] = (new['Sales'] > 500) + 0
imputed_products_with_high_sales_df = new

imputed_products_with_high_sales_df

   Product ID Product Category  Product Name  Sales  Ratings  High Sales
0         101      Electronics            TV  950.0     4.50           1
1         102        Furniture         Table  490.0     4.00           0
2         103      Electronics  Refrigerator  900.0     4.70           1
3         104          Grocery         Bread   50.0     4.28           0
4         105      Electronics     Microwave  490.0     4.20           0
5         106        Furniture         Chair  150.0     4.00           0
6         107      Electronics          Sofa  400.0     4.28           0