In [4]:
example = pd.read_csv('hw5_example1')
example.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,label
0,0.261543,0.026931,-2.840610,-0.506719,0.062924,1.999968,-0.946913,-0.112176,0.851117,1.536876,-0.307680,-1.609661,-1.396559,0.592731
1,-0.059013,1.001799,-1.662496,0.102182,0.216244,-0.039572,-0.153341,0.866294,-0.409736,-0.190126,-1.476120,0.548562,0.024082,0.612392
2,1.011564,1.378968,-0.718166,-0.186749,0.227721,1.372886,0.579771,-0.500610,-0.087985,0.204414,0.794611,-1.492865,1.031711,0.622519
3,1.862639,0.285760,-0.823224,-0.216861,-3.204681,1.149289,0.317756,1.486527,0.526535,0.677483,0.846763,-0.605050,-0.206170,0.577983
4,1.184146,0.366128,-1.415036,-0.213170,0.510849,-1.166365,-0.611688,-0.908871,-0.202355,0.095145,0.990654,0.562975,-0.281943,0.561643